<div style="background-color: turquoise">
  <p [ngStyle]="{backgroundColor: getDirectStyleColor()}">The {{ 3 + '-Server' }} with Id {{ serverId }} with
    status {{ getServerStatus() | uppercase | shorten: 7:'Default Online Status' }}</p>
  <p [ngClass]="getColor()">The {{ 3 + '-Server' }} with Id {{ serverId }} with status {{ getServerStatus() }} with
    index {{ index }}</p>
  <p [ngClass]="getColor2()">The {{ 3 + '-Server' }} with Id {{ serverId }} with status {{ getServerStatus() }}</p>
  <p>Async status got at: {{ asyncTime | async}}</p>
  <p *ngIf="show">A server has been added at {{ date | date: 'fullDate' | uppercase}}</p>
  <div>
    <ng-content></ng-content>
  </div>

  <p *appUnless="!show">It's shown now!</p>
  <div *ngIf="showRedirect">
    <a [routerLink]="['/servers', 15]"
       [queryParams]="{allowEdit: 1, redirect: true}"
       fragment="loading">Redirect to Server 15</a>
    <br>
    <a [routerLink]="['specs']" queryParamsHandling="preserve">Specs of Server</a>
    <router-outlet></router-outlet>
  </div>
</div>
